.footer{
    background-color: #111;
    bottom:0;
    left: 0;
    right:0;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    color: crimson;
    
}

.footer a{
    color: crimson;
    text-decoration: none;
}